<dom-module id="view-settings">
	<template>

		<style>
			@font-face {
				font-family: 'Material Icons';
				font-style: normal;
				font-weight: 400;
				src: url(http://fonts.gstatic.com/s/materialicons/v30/2fcrYFNaTjcS6g4U3t-Y5ZjZjT5FdEJ140U2DJYC3mY.woff2) format('woff2');
			}

			.material-icons {
				font-family: 'Material Icons';
				font-weight: normal;
				font-style: normal;
				font-size: 24px;
				line-height: 1;
				letter-spacing: normal;
				text-transform: none;
				display: inline-block;
				white-space: nowrap;
				word-wrap: normal;
				direction: ltr;
				-webkit-font-feature-settings: 'liga';
				-webkit-font-smoothing: antialiased;
			}

			.card {
				border-radius: 2px;
				display: inline-block;
				height: auto;
				position: relative;
				width: 86%;
				background: #FFF;
				box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
				transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
				z-index: 20;
				margin: 2rem 2rem 2rem 0rem;
				opacity: .9;
				padding: 2rem 2rem 1rem 2rem;
			}

			.card:hover {
				box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 0 10px 0 rgba(0, 0, 0, 0.22);
			}

			.card-title {
				font-weight: 300;
				font-size: 1.5rem;
				user-select: none;
				padding-bottom: 3rem;
			}

			.card-info {
				font-weight: 300;
				font-size: 1rem;
			}

			.card-body {
				text-align: center;
				user-select: none;
				padding-bottom: 3rem;
			}

			.hide {
				display: none;
			}

			#sudoFile {
				max-width: 4rem;
				font-size: 4rem;
				cursor: pointer;
				color: #FFF;
				background: #3e3e3c;
				/* border: 1pt solid grey; */
				border-radius: 25rem;
				/* box-shadow: 10px 5px 5px black; */
				box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
			}

			#sudoFile:hover {
				box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 0 10px 0 rgba(0, 0, 0, 0.22);
			}


			a {
				font-weight: 600;
				color: #B3E5FC;
				text-decoration: none;
			}

			a:hover {
				color: #03A9F4;
			}

			button {
				background: #3e3e3c;
				color: #B3E5FC;
				padding: 1rem;
				border: none;
				font-size: 1rem;
				cursor: pointer;
			}

			footer {
				float: right;
			}

			footer .material-icons {
				font-family: 'Material Icons';
				font-style: normal;
				color: #ff4081;
				font-size: 1.5rem;
				vertical-align: text-bottom;
			}

		</style>


		<article class="card">
			<div class="card-title">
				<i class="material-icons">settings</i>
				Settings
				<hr/>
				<i class="card-info">
					<p id="about"></p>
				</i>
			</div>

			<div class="card-body">

                <button id="save" type="button">Save</button>
			</div>
			<footer>
				Written with
				<i class="heart material-icons">favorite</i> by
				<a href="//jamiesmiths.com" target="_blank">Jamie Smith</a>
			</footer>
		</article>



	</template>


	<script>
		/*global HTMLElement navigator localStorage MediaMetadata*/
		class ViewSettings extends HTMLElement {

			init() {
				this.registerElements()
			}

			setProperties() {
				this.is = 'view-settings'
			}

			// Fires when an instance was removed from the document.
			detachedCallback() {
				this.log('instance was removed.')
			}

			// Fires when an attribute was added, removed, or updated.
			attributeChangedCallback(attr, oldVal, newVal) {

				/* if(newVal){
				    //this.log('-attr: ' + attr + '\n-oldVal: ' +  oldVal + ' \n-newVal: ' +  newVal)
				    
				    'name' == attr ? this.name = newVal : ''
				    'title' == attr ? this.title = newVal : ''
				    'type' == attr ? this.type = newVal : ''
				    'volume' == attr ? this.dom.audio.volume = parseInt(newVal) : ''
				    'time' == attr ? this.dom.audio.currentTime = parseInt(newVal) : ''
				    'src' == attr ? this.dom.audio.src = newVal : ''
				    
				    
				    'image' == attr ? this.image = newVal : ''
				    if('play' == attr){
				        newVal ? this.dom.play.onclick() : this.dom.pause.onclick() 
				    }
				} */
			}

			// Fires when an instance was inserted into the document.
			attachedCallback() {
				const template = this.owner.querySelector('template')
				const clone = document.importNode(template.content, true)
				clone.applyAuthorStyles = true
				this.root = this.createShadowRoot()
				this.root.applyAuthorStyles = true
				this.root.appendChild(clone)
				this.init()

			}


			// Fires when an instance of the element is created.
			createdCallback() {
				this.setProperties()
				this.parseAttributes()
				//console.log('instance was created.')
			}

			parseAttributes() {

				//this.name = this.getAttribute('name');
				//this.number = parseInt(this.getAttribute('number'));
			}

			registerElements() {

				this.dom = {}
				this.dom.about = this.root.getElementById('about')
				this.dom.save = this.root.getElementById('saveOrg')




				this.setupElements()
			}

			setupElements() {

				this.dom.about.textContent = 'Electron template is using Node ' + process.versions.node +
					', Chrome ' + process.versions.chrome +
					', and Electron ' + process.versions.electron + '.';

				const ipc = require('electron').ipcRenderer;

				ipc.send('get', 'all');
				ipc.once('got', (event, data) => {
					console.log('got ', data);
				});

				this.addListeners()
			}

			addListeners() {

				this.dom.saveOrg.onclick = (e) => {
                    console.log(e.target.id, ' was clicked')
				}
			}
		}

		if (document.createElement('view-settings').constructor !== ViewSettings) {
			ViewSettings.prototype.owner = (document._currentScript || document.currentScript).ownerDocument;
			document.registerElement('view-settings', ViewSettings);
		}

	</script>
</dom-module>
